header {
  max-width: 1250px;
  margin: auto;
  position: relative;
}
.welcome {
  text-align: center;
  word-break: keep-all;
}
.welcome h1 {
  text-align: center;
}
.welcome p {
  font-size: 24px;
  color: #757575;
}

.search-bar-container .submit-enter {
  display: flex;
  flex-direction: row;
  height: 4rem;
  width: 100%;
  border: none;
  background: #f4f4f4;
  font-size: 20px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  outline: none;
  padding: 0 24px;
  cursor: pointer;
  margin-bottom: 2.8125rem;
}

.search-bar-container .submit-enter::grammar-error {
  border: 10px solid #ff5252;
  cursor: text;
}
.search-bar-container .submit-enter:focus {
  border: 1px solid #a445ed;
  cursor: text;
}

.search-bar-container .submit-enter ::placeholder {
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 700;
}

.search-bar-container .btn {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 15.55px;
  height: 15.55px;
  flex-shrink: 0;
  transform: translate(-24px, 24px);
  -webkit-transform: translate(-24px, 24px);
  -moz-transform: translate(-24px, 24px);
  -ms-transform: translate(-24px, 24px);
  -o-transform: translate(-24px, 24px);
  cursor: pointer;
}

.word-phonetics-audio_container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 2.625rem;
}
.word-phonetics {
  word-break: break-all;
}
.word-phonetics h1 {
  font-size: clamp(20px, 4rem, 4rem);
  font-weight: 700;
  transition: all 0.3s ease;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.word-phonetics h2 {
  color: #a445ed;
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.audio {
  display: flex;
  justify-content: end;
  align-items: center;
}
.audio svg {
  height: 72px;
  cursor: pointer;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.audio svg:hover path {
  fill: #f4f4f4;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.audio svg:hover circle {
  fill: #a445ed;
  opacity: 1;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.if-empty {
  display: none;
  transform: translateY(-38px);
  font-size: 20px;
  font-weight: 400;
  -webkit-transform: translateY(-38px);
  -moz-transform: translateY(-38px);
  -ms-transform: translateY(-38px);
  -o-transform: translateY(-38px);
}

.blank {
  text-align: center;
}

.blank p:first-child {
  font-size: 4rem;
  margin: 8.25rem 0 2.75rem 0;
}

.blank h2 {
  color: #2d2d2d;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.5rem;
}

.blank p:last-child {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.meaning h2 {
  margin-bottom: 1.5625rem;
}
.meaning ul {
  padding: 0 5rem 0 3.125rem;
}
.meaning li {
  margin-bottom: 0.8125rem;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}
@media screen and (max-width: 31.25rem) {
  .audio img {
    height: 3rem;
  }

  .word-phonetics h1 {
    font-size: 2rem;
  }

  .word-phonetics h2 {
    font-size: 1.125rem;
  }
}
