* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  transition: all 0.3s ease;
  min-height: 100vh;
}

@media screen and (max-width: 1250px) {
  .App {
    padding: 0 3.5rem;
  }
}
@media screen and (max-width: 800px) {
  .App {
    padding: 0 1.5rem;
  }
}
